.App {
  width: 100%;
  min-height: 100vh;
    display: flex;
  justify-content: center;
  align-items: center;
  position:'absolute';

}

.names:hover {
  background-color: darkgray;
  color:'white';
  cursor: pointer;
}

.change:hover{
  cursor: pointer;
  color: blue;
}